.recipe-window
    position: absolute
    width: 100vw
    height: 100vh
    z-index: 0

.overlay
    background: rgba(0,0,0,0.6)
    position: absolute
    width: 100vw
    height: 100vh
    z-index: 1

.recipe-window
    background: white
    position: absolute
    width: 80vw
    height: 90vh
    z-index: 2
